<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.electric.wen.mapper.LadderMapper">
  <resultMap id="resMap_Ladder" type="com.electric.wen.beans.LadderBean">
        <id column="ladderId" property="ladderId" />
        <result column="ladderName" property="ladderName" />
        <result column="ladderDesc" property="ladderDesc" />
        <result column="createTime" property="createTime" />
        <result column="ladderInfo" property="ladderInfo" />
  </resultMap>

  <sql id="All_Column_List" >
        ladderId,
        <include refid="Insert_Column_List"></include>
  </sql>
  
  <sql id="Insert_Column_List" >
        ladderName,
        ladderDesc,
        createTime,
        ladderInfo
  </sql> 

  <sql id="Value_Column_List" >
        #{ladderName},
        #{ladderDesc},
        #{createTime},
        #{ladderInfo}
  </sql>
  <sql id="whereCondition">
        <if test="ladderId != null and ladderId != ''">
            AND ladderId like CONCAT('%',#{ladderId},'%')
        </if>
        <if test="ladderName != null and ladderName != ''">
            AND ladderName like CONCAT('%',#{ladderName},'%')
        </if>
        <if test="ladderDesc != null and ladderDesc != ''">
            AND ladderDesc like CONCAT('%',#{ladderDesc},'%')
        </if>
        <if test="createTime != null and createTime != ''">
            AND createTime like CONCAT('%',#{createTime},'%')
        </if>
        <if test="ladderInfo != null and ladderInfo != ''">
            AND ladderInfo like CONCAT('%',#{ladderInfo},'%')
        </if>
  </sql>

  <select id="findAll" resultMap="resMap_Ladder" parameterType="com.electric.wen.beans.LadderBean">
    SELECT
      <include refid="All_Column_List"></include>
    FROM m_ladder
  </select>
  
  <select id="listPage" resultMap="resMap_Ladder" parameterType="com.electric.wen.beans.LadderBean">
    SELECT
      <include refid="All_Column_List"></include>
    FROM m_ladder
    <where>
      <include refid="whereCondition"></include>
    </where>
    ORDER BY ladderId DESC
  </select>
  
  <select id="loadByPK" resultMap="resMap_Ladder" parameterType="java.lang.Integer">
    SELECT
      <include refid="All_Column_List"></include>
    FROM m_ladder
    WHERE ladderId = #{ladderId}
  </select>
  
  <insert id="insert" parameterType="com.electric.wen.beans.LadderBean" useGeneratedKeys="true" keyProperty="ladderId">
    INSERT INTO m_ladder (
      <include refid="Insert_Column_List"></include> 
    )VALUES(
      <include refid="Value_Column_List"></include>
    )
  </insert>

  <update id="update" parameterType="com.electric.wen.beans.LadderBean">
    UPDATE m_ladder SET 
        <if test="ladderName != null and ladderName != ''">
            ladderName = #{ladderName},
        </if>
        <if test="ladderDesc != null and ladderDesc != ''">
            ladderDesc = #{ladderDesc},
        </if>
        <if test="createTime != null and createTime != ''">
            createTime = #{createTime},
        </if>
        <if test="ladderInfo != null and ladderInfo != ''">
            ladderInfo = #{ladderInfo},
        </if> 
          ladderId = #{ladderId}
    WHERE ladderId = #{ladderId}
  </update>

  <delete id="delete" parameterType="Integer">
    DELETE FROM m_ladder WHERE ladderId = #{ladderId}
  </delete>
  
</mapper>
  