<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bingbee.yun.mapper.YunUserApplyMapper">

  <resultMap id="resultmap_yun_user_apply" type="com.bingbee.yun.beans.YunUserApply">
    <id column="apply_seq" property="applySeq" />
    <result column="create_time" property="createTime" />
    <result column="apply_user_seq" property="applyUserSeq" />
    <result column="organization_name" property="organizationName" />
    <result column="organization_describe" property="organizationDescribe" />
    <result column="state" property="state" />
    <result column="key" property="key" />
    <result column="value" property="value" />
  </resultMap>

  <sql id="all_column_list" >
    apply_seq,
    <include refid="insert_column_list"></include>
  </sql>
  
  <sql id="insert_column_list" >
    create_time,
    apply_user_seq,
    organization_name,
    organization_describe,
    state,
    key,
    value
  </sql> 

  <sql id="value_column_list" >
    #{createTime},
    #{applyUserSeq},
    #{organizationName},
    #{organizationDescribe},
    #{state},
    #{key},
    #{value}
  </sql>

  <sql id="where_condition">
    <if test="applySeq != null and applySeq != ''">
      AND apply_seq = #{applySeq}
    </if>
    <if test="createTime != null and createTime != ''">
      AND create_time like CONCAT('%',#{createTime},'%')
    </if>
    <if test="applyUserSeq != null and applyUserSeq != ''">
      AND apply_user_seq = #{applyUserSeq}
    </if>
    <if test="organizationName != null and organizationName != ''">
      AND organization_name like CONCAT('%',#{organizationName},'%')
    </if>
    <if test="organizationDescribe != null and organizationDescribe != ''">
      AND organization_describe like CONCAT('%',#{organizationDescribe},'%')
    </if>
    <if test="state != null and state != ''">
      AND state = #{state}
    </if>
    <if test="key != null and key != ''">
      AND key like CONCAT('%',#{key},'%')
    </if>
    <if test="value != null and value != ''">
      AND value like CONCAT('%',#{value},'%')
    </if>
  </sql>

  <select id="findAll" resultMap="resultmap_yun_user_apply" parameterType="com.bingbee.yun.beans.YunUserApply">
    SELECT
      <include refid="all_column_list"></include>
    FROM yun_user_apply
  </select>

  <select id="listPage" resultMap="resultmap_yun_user_apply" parameterType="com.bingbee.yun.beans.YunUserApply">
    SELECT
      <include refid="all_column_list"></include>
    FROM yun_user_apply
    <where>
      <include refid="where_condition"></include>
    </where>
    ORDER BY apply_seq DESC
  </select>

  <select id="load" resultMap="resultmap_yun_user_apply" parameterType="com.bingbee.yun.beans.YunUserApply">
    SELECT
      <include refid="all_column_list"></include>
    FROM yun_user_apply
    <where>
      <include refid="where_condition"></include>
    </where>
  </select>
  
  <select id="loadByPK" resultMap="resultmap_yun_user_apply" parameterType="java.lang.Integer">
    SELECT
      <include refid="all_column_list"></include>
    FROM yun_user_apply
    WHERE apply_seq = #{apply_seq}
  </select>

  <select id="findByPKs" resultMap="resultmap_yun_user_apply" parameterType="java.lang.Integer">
    SELECT
      <include refid="all_column_list"></include> 
    FROM yun_user_apply
    WHERE apply_seq IN
    <foreach collection="array" item="apply_seq" open="(" separator="," close=")">
      #{apply_seq}
    </foreach>
  </select>
  
  <insert id="insert" parameterType="com.bingbee.yun.beans.YunUserApply" useGeneratedKeys="true" keyProperty="apply_seq">
    INSERT INTO yun_user_apply (
      <include refid="insert_column_list"></include> 
    )VALUES(
      <include refid="value_column_list"></include>
    )
  </insert>

  <update id="update" parameterType="com.bingbee.yun.beans.YunUserApply">
    UPDATE yun_user_apply SET 
      <if test="createTime != null and createTime != ''">
        create_time = #{createTime},
      </if>
      <if test="applyUserSeq != null and applyUserSeq != ''">
        apply_user_seq = #{applyUserSeq},
      </if>
      <if test="organizationName != null and organizationName != ''">
        organization_name = #{organizationName},
      </if>
      <if test="organizationDescribe != null and organizationDescribe != ''">
        organization_describe = #{organizationDescribe},
      </if>
      <if test="state != null and state != ''">
        state = #{state},
      </if>
      <if test="key != null and key != ''">
        key = #{key},
      </if>
      <if test="value != null and value != ''">
        value = #{value},
      </if> 
      apply_seq = #{apply_seq}
    WHERE apply_seq = #{apply_seq}
  </update>

  <delete id="delete" parameterType="Integer">
    DELETE FROM yun_user_apply WHERE apply_seq = #{apply_seq}
  </delete>
  
</mapper>
  